body {

}

.container {
    background-color: white;
    width: 1200px;
}

.header {
    display: block;
    width: 1200px;
    text-align: center;
    text-transform: uppercase;
}

.customerList {
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
}

.customer {
    width: 300px;
}










img {
    max-width: 100%;
}

h1 {
    display: block;
    width: 1200px;
    color: black;
    text-transform: uppercase;
}

.customer {
    text-transform: uppercase;

}

email {
    text-transform: uppercase;

}

.location {
    text-align: center;

}

.location .street {
    text-align: center;

}

phone {
    text-align: center;
}
