body {
    background-color: black;
}

.container {
    background-color: white;
    width: 900px;
    margin: 30px;
}

img {
    max-width: 100%;
}

h2 { color: black;
    text-transform: uppercase;
}

name {
    text-transform: uppercase;

}

email {
    text-transform: uppercase;

}

.location {
    text-align: center;

}

.location .street {
    text-align: center;

}

phone {
    text-align: center;
}
